{% extends 'base.html.twig' %}

{% block fos_user_content %}

<form novalidate action="{{ path('question_new') }}" method="post">
    {% block form_row %}
    {% spaceless %}
        <div class="form_row">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            <br>
            {{ form_widget(form.title) }}
        </div>
        <div class="form_row">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            <br>
            {{ form_widget(form.content) }}
            {{ form_row(form._token) }}
        </div>
        {{ form_widget(form.ask) }}
    {% endspaceless %}
    {% endblock form_row %}
</form>

{% endblock fos_user_content %}
