<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Stack</a>
    </div>
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if currentPath == path('questions') %} class="active"{% endif %}>
            <a href="{{ path('questions') }}">Questions</a>
        </li>
        <li{% if currentPath == path('tags') %} class="active"{% endif %}>
            <a href="{{ path('tags') }}">Tags</a>
        </li>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li{% if currentPath == path('ask_question') %} class="active"{% endif %}>
                <a href="{{ path('ask_question') }}">Ask Question</a>
            </li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
        {% endif %}

      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </ul>
    </div>
  </div>
</nav>
